<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @f5_persist_list.name %>
</p>

<p>
  <b>Content:</b>
  <%= @f5_persist_list.content %>
</p>


<%= link_to 'Edit', edit_f5_persist_list_path(@f5_persist_list) %> |
<%= link_to 'Back', f5_persist_lists_path %>
