<!DOCTYPE html>
<html>
<head>
  <title>F5persist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "datatable_page" %>
	<%= stylesheet_link_tag "datatable_table" %>
	<%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
